.heroContainer {
  position: relative;
  overflow: hidden;

 height: 80vh;

  h1 {
    font-size: clamp(2rem, 10vw, 11rem);
  }
}

@media screen and (max-width: 768px) {
  .heroContainer {
    left: -10vw;
    min-height: clamp(100px, 35vh, 300px);
    width: calc(100% + 100px);
    height: calc(100% + 100px);
  }
}
